aiogram==2.6
aiohttp==3.6.2
aiohttp-socks==0.3.4
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
Babel==2.8.0
certifi==2022.12.7
cffi==1.13.2
chardet==3.0.4
ffprobe==0.5
idna==2.8
multidict==4.7.4
numpy==1.18.1
opencv-python==4.1.2.30
pony==0.7.11
pycparser==2.19
pydub==0.23.1
PySoundFile==0.9.0.post1
pytz==2019.3
requests==2.22.0
urllib3==1.25.8
yarl==1.4.2
